<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tapis_project_v0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Tapis_project_v0">


        <service
            android:name=".serviceImpl.proprieteServiceImpl.DeleteProprieteServiceImpl"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".serviceImpl.userMotifServiceImpl.UserMotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.motifServiceImpl.MotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.proprieteServiceImpl.PropeiterServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.motifServiceImpl.AddMotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.userMotifServiceImpl.FindByImageServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.userMotifServiceImpl.UserMotifServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.userMotifServiceImpl.GetUsersMotifsServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".serviceImpl.motifServiceImpl.SaveServiceImpl"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.AdminHomepageActivity"></activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.OpenCVCameraActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>